{%- assign product_form_id = 'product-form-' | append: "template--16271763669216__main" -%}


<div>
  <label for="fabric_option_1">
    {{ block.settings.fabric_option_name }}
  </label>
  <select id="fabric_option_{{ block.settings.fabric_option_name }}"
    form="{{ product_form_id }}"
    name="properties[{{ block.settings.fabric_option_name }}"
    class="fabric-selector"
  >
  </select>
</div> 

<script src="{{ 'get-fabrics.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Fabric Selector",
    "templates": ["product"],
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "get-fabrics.js",
    "settings": [
      {
        "type": "text",
        "id": "fabric_option_name",
        "label": "Fabric option name (e.g. eyes, main body, accent)"
      },
      {
        "type": "header",
        "content": "Allowed fabrics:"
      }
    ]
  }
{% endschema %}