{% comment %} 
///// WIP /////
- add material filters
- include "Custom" to display text box and type selection
{% endcomment %}


{%- assign product_form_id = 'product-form-' | append: "template--16271763669216__main" -%}

<div>
  <label for="fabric_option_1">
    {{ block.settings.fabric_option_name }}
  </label>
  <select id="fabric_option_{{ block.settings.fabric_option_name }}"
    form="{{ product_form_id }}"
    name="properties[{{ block.settings.fabric_option_name }}]"
    onchange="document.getElementById('pic').src = this.options[this.selectedIndex].getAttribute('ref')"
    class="fabric-selector"
  >
    <option selected="" value="" disabled="" ref="">Select option</option>
    <option value="Custom" ref="">-Custom-</option>
    <option value="Surpise me" ref="">-Surprise me-</option>
  </select>
</div> 
<img id="pic" alt="" src="https://cdn.shopify.com/s/files/1/0654/8262/1152/files/b5061045-3b66-4d60-b413-79cf068381d9.jpg" height="{{ block.settings.imageHeight }}" width="{{ block.settings.imageWidth }}" loading="lazy">






{% schema %}
  {
    "name": "Fabric Selector",
    "templates": ["product"],
    "target": "section",
    "javascript": "get-fabrics.js",
    "settings": [
      {
        "type": "header",
        "content": "Fabric option name:"
      },
      {
        "type": "text",
        "id": "fabric_option_name",
        "label": "e.g. eyes, main body, accent"
      },
      {
        "type": "header",
        "content": "Image size:"
      },
      {
        "type": "number",
        "id": "imageHeight",
        "label": "Height:",
        "default": 50
      },
      {
        "type": "number",
        "id": "imageWidth",
        "label": "Width:",
        "default": 50
      },
      {
        "type": "header",
        "content": "Allowed fabrics:"
      },
      {
        "type": "checkbox",
        "id": "cotton_cb",
        "label": "Cotton"
      },
      {
        "type": "checkbox",
        "id": "lycra_cb",
        "label": "Lycra"
      },
      {
        "type": "checkbox",
        "id": "felt_cb",
        "label": "Felt"
      },
      {
        "type": "checkbox",
        "id": "flannel_cb",
        "label": "Flannel"
      },
      {
        "type": "checkbox",
        "id": "minky_cb",
        "label": "Minky"
      },
      {
        "type": "checkbox",
        "id": "satin_cb",
        "label": "Satin"
      },
      {
        "type": "header",
        "content": "Notes:"
      },
      {
        "type": "paragraph",
        "content": "Contact KK to add new fabric materials to this checkbox list."
      },
      {
        "type": "paragraph",
        "content": "If the customer doesn't select an option (i.e. leaves dropdown menu as default), then no value will be shown with the product in the checkout page."
      }
    ]
  }
{% endschema %}