{% comment %} 
///// WIP /////
- add material filters
{% endcomment %}


{%- assign product_form_id = 'product-form-' | append: "template--16271763669216__main" -%}
{%- assign option_name = block.settings.fabric_option_name -%}

<div>
  <label for="fabric_option_{{ option_name }}">
    {{ option_name }}
  </label>
  <select id="fabric_option_{{ option_name }}"
    form="{{ product_form_id }}"
    name="properties[{{ option_name }}]"
    class="fabric-selector"
  >
    <option selected="" value="" disabled="" pic="">Select option</option>
    <option id="custom_select_{{ option_name }}" value="Custom: [blank]" pic="">-Custom-</option>
    <option pic="">-Surprise me-</option>
  </select>
  <img id="pic_{{ option_name }}" alt="" height="{{ block.settings.imageHeight }}" width="{{ block.settings.imageWidth }}" loading="lazy" style="visibility: hidden"
    src='data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 3.6a1.6 1.6 0 0 1 1.6-1.6h3.4a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3.4zm14.4-1.6a1.6 1.6 0 0 1 1.6 1.6v3.4a1 1 0 1 1-2 0v-3h-3a1 1 0 1 1 0-2h3.4zm0 16h-3.4a1 1 0 1 1 0-2h3v-3a1 1 0 1 1 2 0v3.4a1.6 1.6 0 0 1-1.6 1.6zm-12.8 0a1.6 1.6 0 0 1-1.6-1.6v-3.4a1 1 0 1 1 2 0v3h3a1 1 0 1 1 0 2h-3.4z"/></svg>' 
  >
</div> 

<div id="custom_wrapper_{{ option_name }}" style="visibility: hidden">
  Request fabric: <input id="custom_textbox_{{ option_name }}" type="text" form="{{ product_form_id }}"/>
</div>









<script>
  // function to handle onchange for select
  // if Custom: display textbox for user-defined value
  // for pic: display pic
  // if pic="": do not display pic
  let optionName = "{{ option_name }}";
  const select = document.getElementById("fabric_option_{{ option_name }}");
  const custom = document.getElementById("custom_select_{{ option_name }}");
  const image = document.getElementById("pic_{{ option_name }}");
  const wrapper = document.getElementById("custom_wrapper_{{ option_name }}");
  const textbox = document.getElementById("custom_textbox_{{ option_name }}");

  // set Custom value to textbox value
  textbox.onchange = function() {
    custom.value = "Custom: " + this.value;
  }

  select.onchange =  function() {
    if (this.options[this.selectedIndex].text === "-Custom-") {
      wrapper.style = "visibility: visible";
      image.style = "visibility: hidden";
    } else if (this.options[this.selectedIndex].getAttribute("pic") === "") {
      wrapper.style = "visibility: hidden";
      image.style = "visibility: hidden";
    } else {
      wrapper.style = "visibility: hidden";
      image.src = this.options[this.selectedIndex].getAttribute("pic");
      image.style = "visibility: visible";
    }
  }
</script>



{% schema %}
  {
    "name": "Fabric Selector",
    "templates": ["product"],
    "target": "section",
    "javascript": "get-fabrics.js",
    "settings": [
      {
        "type": "header",
        "content": "Fabric option name:"
      },
      {
        "type": "text",
        "id": "fabric_option_name",
        "label": "e.g. eyes, main body, accent"
      },
      {
        "type": "header",
        "content": "Image size:"
      },
      {
        "type": "number",
        "id": "imageHeight",
        "label": "Height:",
        "default": 50
      },
      {
        "type": "number",
        "id": "imageWidth",
        "label": "Width:",
        "default": 50
      },
      {
        "type": "header",
        "content": "Allowed fabrics:"
      },
      {
        "type": "checkbox",
        "id": "cotton_cb",
        "label": "Cotton"
      },
      {
        "type": "checkbox",
        "id": "lycra_cb",
        "label": "Lycra"
      },
      {
        "type": "checkbox",
        "id": "felt_cb",
        "label": "Felt"
      },
      {
        "type": "checkbox",
        "id": "flannel_cb",
        "label": "Flannel"
      },
      {
        "type": "checkbox",
        "id": "minky_cb",
        "label": "Minky"
      },
      {
        "type": "checkbox",
        "id": "satin_cb",
        "label": "Satin"
      },
      {
        "type": "header",
        "content": "Notes:"
      },
      {
        "type": "paragraph",
        "content": "Contact KK to add new fabric materials to this checkbox list."
      },
      {
        "type": "paragraph",
        "content": "If the customer doesn't select an option (i.e. leaves dropdown menu as default), then no value will be shown with the product in the checkout page."
      }
    ]
  }
{% endschema %}