{% comment %} 
To add new material filters:
- copy this at assignments
<div class="filters" label="[Material]" checked="block.settings.[material]_cb"></div>
- copy this at the end of schema
      {
        "type": "checkbox",
        "id": "[material]_cb",
        "label": "[Material]"
      },

{% endcomment %}


{%- assign product_form_id = "product-form-template--" | append: block.settings.section_id | append: "__main" -%}
{%- assign option_name = block.settings.fabric_option_name -%}


<div class="fabric_option_block">
  <div>
    <label for="fabric_option_{{ option_name }}" class="fabric_option_label">
      {{ option_name }}
    </label>


    {% comment %} Filters defined by block settings {% endcomment %}
    <div class="material_filters" label="Cotton" checked="{{ block.settings.cotton_cb }}"></div>
    <div class="material_filters" label="Lycra" checked="{{ block.settings.lycra_cb }}"></div>
    <div class="material_filters" label="Felt" checked="{{ block.settings.felt_cb }}"></div>
    <div class="material_filters" label="Flannel" checked="{{ block.settings.flannel_cb }}"></div>
    <div class="material_filters" label="Minky" checked="{{ block.settings.minky_cb }}"></div>
    <div class="material_filters" label="Satin" checked="{{ block.settings.satin_cb }}"></div>

    <div class="fabric_select_wrapper">
      <select id="fabric_option_{{ option_name }}"
        form="{{ product_form_id }}"
        name="properties[{{ option_name }}]"
        class="fabric_select"
      >
        <option selected="" value="" disabled="" pic="">Select option</option>
        <option class="custom_option" id="custom_select_{{ option_name }}" value="Custom: [blank]" pic="">-Custom-</option>
        <option pic="">-Surprise me-</option>
      
      </select>
      {% render 'icon-caret' %}
    </div>
    <img class="pic" alt="" height="{{ block.settings.imageHeight }}" width="{{ block.settings.imageWidth }}" loading="lazy" style="visibility: hidden"
      src='data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 3.6a1.6 1.6 0 0 1 1.6-1.6h3.4a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3.4zm14.4-1.6a1.6 1.6 0 0 1 1.6 1.6v3.4a1 1 0 1 1-2 0v-3h-3a1 1 0 1 1 0-2h3.4zm0 16h-3.4a1 1 0 1 1 0-2h3v-3a1 1 0 1 1 2 0v3.4a1.6 1.6 0 0 1-1.6 1.6zm-12.8 0a1.6 1.6 0 0 1-1.6-1.6v-3.4a1 1 0 1 1 2 0v3h3a1 1 0 1 1 0 2h-3.4z"/></svg>' 
    >
  </div>
  <div class="wrapper" style="visibility: hidden">
    Request fabric: <input class="textbox" type="text"/>
  </div>
</div> 


{% schema %}
  {
    "name": "Fabric Selector",
    "templates": ["product"],
    "target": "section",
    "javascript": "get-fabrics.js",
    "stylesheet": "all-styles.css",
    "settings": [
      {
        "type": "header",
        "content": "Section ID"
      },
      {
        "type": "text",
        "id": "section_id",
        "label": "section=template--[14-digit section ID]"
      },
      {
        "type": "header",
        "content": "Fabric option name"
      },
      {
        "type": "text",
        "id": "fabric_option_name",
        "label": "e.g. eyes, main body, accent"
      },
      {
        "type": "header",
        "content": "Image size"
      },
      {
        "type": "number",
        "id": "imageHeight",
        "label": "Height:",
        "default": 50
      },
      {
        "type": "number",
        "id": "imageWidth",
        "label": "Width:",
        "default": 50
      },
      {
        "type": "header",
        "content": "Allowed fabrics"
      },
      {
        "type": "checkbox",
        "id": "cotton_cb",
        "label": "Cotton"
      },
      {
        "type": "checkbox",
        "id": "lycra_cb",
        "label": "Lycra"
      },
      {
        "type": "checkbox",
        "id": "felt_cb",
        "label": "Felt"
      },
      {
        "type": "checkbox",
        "id": "flannel_cb",
        "label": "Flannel"
      },
      {
        "type": "checkbox",
        "id": "minky_cb",
        "label": "Minky"
      },
      {
        "type": "checkbox",
        "id": "satin_cb",
        "label": "Satin"
      },
      {
        "type": "header",
        "content": "Notes"
      },
      {
        "type": "paragraph",
        "content": "If the customer doesn't select an option (i.e. leaves dropdown menu as default), then no value will be shown with the product in the checkout page."
      }
    ]
  }
{% endschema %}